<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button color="white">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span> Xpirit Beer Xchange </span>
    <span class="example-fill-remaining-space"></span>
    <span class="topbar-small" *ngIf="!user" id="notloggedin">NOT LOGGED IN</span>
    <span class="topbar-small" *ngIf="user">{{ user.displayableId }} (<app-view-credit></app-view-credit>)</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav [fixedInViewport]="true">
    <button mat-icon-button color="black">
      <mat-icon (click)="sidenav.toggle()">arrow_back</mat-icon>
    </button>

    <mat-list>
      <h3 mat-subheader>Beer</h3>
      <a mat-list-item href="/" (click)="sidenav.toggle()">
        <h3 matLine>Home</h3>
      </a>
      <a mat-list-item href="/#add" (click)="sidenav.toggle()">
        <h3 matLine>Add / Switch Beer</h3>
      </a>
      <a mat-list-item href="/#take" (click)="sidenav.toggle()">
        <h3 matLine>Take Beer</h3>
      </a>
      <a mat-list-item href="/#transfer" (click)="sidenav.toggle()">
        <h3 matLine>Transfer Credits</h3>
      </a>
      <a mat-list-item href="/#usercredits" (click)="sidenav.toggle()">
        <h3 matLine>User Credits</h3>
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container top-space">
      <div class="col-12">
          <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
