<div class="card">
  <div class="card-body">
    <h2>User Credit Overview</h2>
    <p *ngIf="!(userCredits.length > 0)"><em>Loading credits...</em></p>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="userCredits" class="w-100" *ngIf="userCredits.length > 0">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="credits">
          <th mat-header-cell *matHeaderCellDef> Credits </th>
          <td mat-cell *matCellDef="let element"> {{element.credits}} </td>
        </ng-container>    
        <ng-container matColumnDef="beersAdded">
          <th mat-header-cell *matHeaderCellDef> Beers Added </th>
          <td mat-cell *matCellDef="let element"> {{element.beersAdded}} </td>
        </ng-container>    
        <ng-container matColumnDef="beersTaken">
          <th mat-header-cell *matHeaderCellDef> Beers Taken </th>
          <td mat-cell *matCellDef="let element"> {{element.beersTaken}} </td>
        </ng-container>      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>