<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="col-md-4">Beer Name</label>
        <input type="text" class="form-control" formControlName="beer_name" [(ngModel)]="beerName"/>
        <div *ngIf="angForm.controls['beer_name'].invalid && (angForm.controls['beer_name'].dirty || angForm.controls['beer_name'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['beer_name'].errors.required">
            Beer name is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Brewery</label>
        <input type="text" class="form-control" formControlName="brewery" [(ngModel)]="brewery"/>
        <div *ngIf="angForm.controls['brewery'].invalid && (angForm.controls['brewery'].dirty || angForm.controls['brewery'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['brewery'].errors.required">
            Beer name is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Country</label>
        <input type="text" class="form-control" formControlName="country" [(ngModel)]="country"/>
        <div *ngIf="angForm.controls['country'].invalid && (angForm.controls['country'].dirty || angForm.controls['country'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['country'].errors.required">
            Beer name is required.
          </div>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Added By</mat-label>
        <mat-select formControlName="added_by" [(ngModel)]="addedBy">
          <mat-option *ngFor="let user of users" [value]="user">
            {{user}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Switched For Beer</mat-label>
        <mat-select formControlName="switched_for_beer" [(ngModel)]="selectedBeer">
          <mat-option *ngFor="let beer of switchedForBeers" [(value)]="beer.id">
            {{beer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-group">
        <button type="submit" [disabled]="angForm.pristine || angForm.invalid"  class="btn btn-primary">Add Beer</button>
      </div>
    </form>
  </div>
</div>