@page
@model RulesModel
@{
    ViewData["Title"] = "Xpirit Beer Xchange rules";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>You can only grab a beer from the beer Xchange if you add a beer</li>
    <li>Do not add beers that are already in the Xebia beer fridge</li>
    <li>You can add any beer you found somewhere around the world. This can by anything from a special place in the Netherlands, belgium to a remote island in the pacific ocean. You know what would fit our fridge, Don't be a dick!</li>
    <li>You can add multiple beers at once</li>
    <li>You are allowed to add the same kinds of beers</li>
    <li>You are not allowed to take a beer with a promise to put one back later. If you don't want to drink a beer when putting a beer in the fridge you can take one at a later stage. This way we always have at least 5 beers in the fridge.</li>
</ul>