@page
@model Xpirit.BeerXchange.TakeModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Beer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Beer.Name" class="control-label"></label>
                <input asp-for="Beer.Name" class="form-control" />
                <span asp-validation-for="Beer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beer.Country" class="control-label"></label>
                <input asp-for="Beer.Country" class="form-control" />
                <span asp-validation-for="Beer.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beer.Brewery" class="control-label"></label>
                <input asp-for="Beer.Brewery" class="form-control" />
                <span asp-validation-for="Beer.Brewery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beer.Picture" class="control-label"></label>
                <input asp-for="Beer.Picture" class="form-control" />
                <span asp-validation-for="Beer.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <ul>
                    @foreach (var item in Model.SwitchedForBeers)
                    {
                    <li><input asp-for="Beer.SwitchedForId" type="radio" value="@item.Id" /> @item.Name</li>
                    }
                <li><input asp-for="Beer.SwitchedForId" type="radio" value="-1" checked/>This beer is a gift</li>

                    <span asp-validation-for="Beer.SwitchedForId" class="text-danger"></span>
                </ul>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
