@page
@model Xpirit.BeerXchange.TransferModel
@{
    ViewData["Title"] = "Transfer Beer Credits";
}

<h1>Transfer Beer Credits</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <p>Which beer do you want to credit to someone else?</p>
                <select asp-for="SelectedBeer" class="form-control"
                        asp-items="@(new SelectList(Model.MyBeers,"Id","Name"))">
                </select>
                <span asp-validation-for="SelectedBeer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Who gets the credit?</p>
                <select asp-for="SelectedUser" class="form-control"
                        asp-items="@(new SelectList(Model.AllOtherUsers))">
                </select>
                <span asp-validation-for="SelectedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Share the love!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
