<p *ngIf="!beers"><em>Loading beers...</em></p>

<table class='table table-striped' *ngIf="beers">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewery</th>
      <th>Country</th>
      <th>Added by</th>
      <th>Added date</th>
      <th>removed by</th>
      <th>removed date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beer of beers">
      <td>{{ beer.name }}</td>
      <td>{{ beer.brewery }}</td>
      <td>{{ beer.country }}</td>
      <td>{{ beer.createdBy }}</td>
      <td>{{ beer.addedDate | date : 'd-M-yyyy' }}</td>
      <td>{{ beer.removedBy }}</td>
      <td>{{ beer.removedDate }}</td>
    </tr>
  </tbody>
</table>